 .loan__wrapper{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }
  
 h2 {
    color: #d0a0a0;
  }
  
  .loan-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(28, 34, 203, 0.1);
    margin-right: 100px;
  }
  .cd{
    display: flex;
    padding: 30px 30px 30px ;
    justify-content: space-evenly;
  }
  h3 {
    color: #1a73e8;
  }
  
  p {
    color: #555;
  }
  
  .loan-card:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease-in-out;
  }
  