/* CSS for AdminDashboard */
.admin-content {
    display: flex;
    flex-direction: row;
    /* max-width: 12px; */
    margin: 0 auto;
  }
  
  .admin-dashboard {
    width: 240px;
    padding: 20px;
    background-color: #f4f4f4;
    /* Add other styles for the admin dashboard sidebar */
  }
  
  .admin-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  
  .admin-profile .admin-name {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .dashboard-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-section h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .notification-badge {
    margin-top: 10px;
    background-color: #ff5733; /* Adjust badge color as needed */
    color: #fff;
  }
  
  /* Add more styles for other content elements as needed */
  